<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Iot web platform</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/ws.js"></script>
    </head>
    <body>
        <header>
            a menu
        </header>
        <main>
            <section id="content">
                plop
            </section>
            <aside id="logs">
                <h2>Logs</h2>
                <ul id="list-logs">
                    <li>toto</li>
                    <li>a very long sentence that not fit in the aside section so we can see what append</li>
                </ul>
            </aside>
        </main>
        <footer>
            a footer
        </footer>
    </body>
</html>